.main {
	font-family: sans-serif;
	color: White;
	float: left;
	text-align: center;
	background-image: url("rhill.jpg");
	background-size: 100% 100%;
}
.backsplash {
	background-size: 75% 100%;
	background-color: #FF6633;
	padding: 100px;
}
body{
	background-image: url("Feverray.jpg");
	background-position: right top;
	background-repeat: repeat-x-loud;
	background-attachment: fixed;
}
.cub {
	background-color: #FF9999;
	background-position: center;
	text-align: Center;
}
.mark {
	background-color: black;
	color:white;
	text-align: center;
	padding: 10px
}
#awesomeText {font-family:"Times New Roman",Georgia,Serif; text-align:center;}
.soft {color: #FFFFFF;background-color:#FF33FF}
.center {text-align:center;}
.left {text-align:left;}
.temper {margin:0 auto;}
#nav {
	line-height:30px;
	background-color:#FF6633;
	text-align:center;
	color:#FFFFCC;
	height:150px;
	width:200px;
	float:center;
	padding:30px;
}
